@using System.Globalization
@using Microsoft.AspNetCore.Components
@using TaskManager_Frontend.Data
<div class="card task-card mb-4 " style="width:21rem;">
    <div style="width:10px;height:100%;background-color:@GetStatusColor(TaskData.Status);position:absolute;"></div>
    <div class="card-body ms-2">
        <h5 class="card-title">@TaskData.Task_Title</h5>
        <p class="card-text text-muted">
            <strong>Deadline:</strong> @TaskData.Deadline.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)
        </p>

        <ul class="list-group list-group-flush">
            @foreach (var employeeTask in TaskData.EmployeeTasks)
            {
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <MudAvatar Size="Size.Small" Color="Color.Primary" Class="me-2">A</MudAvatar>
                        <span>@employeeTask.Employee.Employee_Name</span>
                    </div>
                </li>
            }
        </ul>

  

       
        <div class="d-flex flex-wrap">
            @foreach (var tag in TaskData.TaskTags)
            {
                <span class="badge bg-primary me-2">@tag.Tag.Tag_Name</span>
            }
        </div>

  

       
    </div>
</div>

@code {
    [Parameter] public TaskModelList TaskData { get; set; }
    private string GetStatusColor(string status)
    {
        return status switch
        {
            "Active" => "blue",
            "InProgress" => "yellow",
            "Completed" => "green",
            _ => "aqua" // Default color
        };
    }
}
